<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiApp</title>
</head>
<body>
    <h1 style="color: rgb(255, 0, 0);">Hola Tilino</h1>
    <h3 style="color: blue;">Ya puedes navegar por acá</h3>
    <hr>
    <p style="color: blueviolet;">Hola hola holiwis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Architecto eos quisquam, ipsum et eius facilis non debitis veniam amet totam. 
        Quasi modi alias magni sit rem laboriosam at consequuntur necessitatibus? Lorem ipsum dolor sit, 
        amet consectetur adipisicing elit. Quas possimus quam facilis fuga dolor magnam, explicabo, 
        libero in voluptate quae error alias est tempore perspiciatis tempora reprehenderit accusamus provident. Ipsum?</p>
    <hr>
    <!--<a href="{% url 'home' %}">Mi Home</a>-->
</body>
</html>