{% extends "base.html" %}

{% block header %}
    <h6 style="color: aquamarine;">Este es el encabezado en la plantilla hijaesu</h6>
{% endblock %}

{% block content %}
    <h3 style="color: blueviolet;">Ahora estas en la plantilla hijaesu</h3>
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Veniam quaerat ipsam harum consectetur earum minus voluptate est perspiciatis, 
        facere assumenda autem odio maxime et unde culpa architecto! Voluptas, tenetur assumenda.</p>
    <br>
    <h5>Copyright | 2025</h5>
{% endblock %}